/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::selection {
    background-color: #1192E8;
    color: #ffffff;
  }


  /* Header */

.contenedor__header {
  margin-top: 120px;
  width: 100%;
  background-color: white;
}



