/* Header contacto */

.header__contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    gap: $spacing-24;
    max-width: 760px;
    padding-bottom: $spacing-64;

    @include media-breakpoint-md {
        padding-left: $spacing-16;
        padding-right: $spacing-16;
        padding-bottom: $spacing-64;
      }
}


/* Formulario contacto */

.form__contacto {
    display: flex;
    padding: $spacing-24 $spacing-24;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: $spacing-24;
    border: 1px solid $neutral-color-gray10;
    border-radius: $border-radius-24;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.14);
    max-width: 400px;
    margin-bottom: 64px;

    &__group {
        gap: $spacing-8;
    }

    &__label {
        padding: $spacing-16;
    }

    &__input {
        padding: $spacing-16;
        width: 100%;
    }

    &__politicas {
        font-size: $font-size-12;
    }

    @include media-breakpoint-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-left: $spacing-24;
        margin-right: $spacing-24;
      }
}
