/* Header contacto */

.header__contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    gap: $spacing-24;
    max-width: 760px;
    padding-bottom: $spacing-64;

    & p {
        @include media-breakpoint-md {
            font-size: $font-size-16;
          }
    }

    @include media-breakpoint-md {
        padding-left: $spacing-16;
        padding-right: $spacing-16;
        padding-bottom: $spacing-64;
      }
}


/* Formulario contacto */

.form__contacto {
    display: flex;
    padding: $spacing-32 $spacing-24;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: $spacing-24;
    border: 1px solid $neutral-color-gray10;
    border-radius: $border-radius-24;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.14);
    background-color: $white-color;
    max-width: 400px;
    margin-bottom: $spacing-64;
    text-align: center;

    & input, textarea {
        border: 1px solid $neutral-color-gray30;
    }

    & input, textarea, label {
        padding: $spacing-8;
        width: 100%;
        border-radius: $border-radius-8;
    }

    &__politicas {
        font-size: $font-size-12;
    }

    @include media-breakpoint-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-left: $spacing-24;
        margin-right: $spacing-24;
      }
}

.form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    height: 160px;
    box-sizing: border-box;
}

label {
    color: $neutral-color-gray50;
}