/* Header index */

.header__index {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: $spacing-24;
  }

.header__titulo--index {
    text-align: center;
    font-style: normal;
    box-sizing: border-box;
    max-width: 760px;

    @include media-breakpoint-md {
      font-size: 48px;
      padding: 0 $spacing-24;
      line-height: 56px;
    }
  }

.header__parrafo--index {
    width: 100%;
    text-align: center;
    max-width: 760px;

    @include media-breakpoint-md {
      padding: 0 $spacing-16;
      font-size: $font-size-16;
    }
}


/* Banner index */

.banner__index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 120px 48px;
  max-width: 1376px;
  border-radius: 24px;

  @include media-breakpoint-md {
    padding: 48px 24px 24px 24px;
  }
}

.banner__index img {
  width: 100%;
  height: 600px;
  border-radius: 24px;
  object-fit: cover;
  object-position: top center;

  @include media-breakpoint-lg {
    height: 480px;
  }

  @include media-breakpoint-md {
    height: 400px;
  }

  @include media-breakpoint-sm {
    height: 240px;
  }
}

/* Section index 1 */

.section__index--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-48;
  padding: $spacing-16;

  & h2 {
    text-align: center;
  }
}

.section__contenedorindex--1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: center;
  gap: $spacing-24;
  flex-wrap: wrap;
}

.section__contenedorindex--1 img {
  width: 80px;
  height: 80px;

  @include media-breakpoint-sm {
    width: 64px;
    height: 64px;
  }
}

@mixin integraciones {
  display: flex;
  max-width: 332px;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-24;
}

.section__div--candado {
  @include integraciones;
}

.section__div--compartir {
  @include integraciones;
}

.section__div--integraciones {
  @include integraciones;
}

.section__div--colaboraciones {
  @include integraciones;
}

/* Section index 2 */

.section__index--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-24;
  margin: auto;
  padding: $spacing-120 $spacing-24;

  & h2 {
    @include media-breakpoint-sm {
      font-size: 24px;
    }
  }
}

.section__contenedorindex--2 {
  display: flex;
  align-items: flex-start;
  padding: $spacing-24;
  flex-direction: column;
  gap: $spacing-16;
  border: 1px solid $neutral-color-gray30;
  border-radius: $border-radius-24;
  max-width: 840px;
}


/* Section index 3 */

.section__index--3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $spacing-24;
  max-width: 840px;
  margin: auto;
  padding: 0 $spacing-24;
}

.section__index--3 img {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

.section__discurso {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 36px;
  font-weight: 450;
  line-height: 44px;
  letter-spacing: -0.36px;

  @include media-breakpoint-md {
    font-size: 24px;
  }
}

.section__nombrebold {
  font-weight: 600;
}

.section__nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section index 4 */

.section__contenedorindex--4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
  margin-top: 120px;
  padding: 32px 0px;
  background-color: $neutral-color-gray10;

  @include media-breakpoint-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding: 24px 24px;
    gap: $spacing-24;
  }

  & h2 {
    @include media-breakpoint-sm {
      font-size: 24px;
      text-align: center;
    }
  }
}

.img__flecha {
  width: 24px;
  height: 24px;
}