/* Header testimonios */

.header__testimonios {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    gap: $spacing-24;
    max-width: 760px;
    padding-bottom: $spacing-64;
    padding-left: $spacing-16;
    padding-right: $spacing-16;
}

.header__parrafo--testimonios {
    width: 100%;
    max-width: 760px;
    text-align: center;

    @include media-breakpoint-md {
        padding: 0 $spacing-16;
        font-size: $font-size-16;
      }
}

/* Section testimonios */

.section__testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: auto;
    background-color: $neutral-color-gray10;

    &--cont {
        max-width: 760px;
        padding-top: $spacing-48;
        padding-bottom: $spacing-64;
    }

    &--cont2 {
        padding: $spacing-24;
    }

    &--logo {
        height: $spacing-48;
    }
}

.nombres__testimonios {
    color: $primary-color-blue70;
    padding-top: $spacing-8;
}