/* Footer */

footer {
    display: flex;
    width: 100%;
    padding: 48px 24px;
    justify-content: space-between;
    align-items: center;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-decoration: none;
    bottom: 0;
    background-color: $primary-color-blue100;
  }
  
  .footer__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: auto;
    gap: 64px;

    @include media-breakpoint-md {
      flex-direction: column;
      gap: $spacing-32;
    }
  }
  
  .footer__pantallas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style:none;

    @include media-breakpoint-sm {
      flex-direction: column;
      gap: $spacing-16;
    }
  }
  
  .footer__pantallas li a {
    text-decoration: none;
    color: white;
  }
  
  .footer__pantallas li a:hover {
    text-decoration: underline;
    color: $primary-color-blue50;
  }
  
  .footer__logo {
    width: 140px;
  }
  
  .footer__derechos {
    color: #8D8D8D;
    text-align: left;
    list-style:none;
  }