  /* Barra de navegación */

  .nav {
    background-color: $neutral-color-gray10;
    display: flex;
    height: $spacing-64;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $neutral-color-gray30;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: $font-size-16;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-decoration: none;
}

.nav__cont--logopant {
    display: flex;
    align-items: center;
    gap: $spacing-64;
}

.nav__pantallas {
    display: flex;
    align-items: flex-start;
    gap: $spacing-32;
    list-style:none;
}

.nav__pantallas li a {
    text-decoration: none;
    color: $black-color;
}

.nav__pantallas li a:hover {
    text-decoration: underline;
}

.nav__logo {
    width: 140px;
}

.nav__logueo {
    display: flex;
    align-items: center;
    gap: $spacing-32;
    list-style:none;
}

.nav__iniciar:hover {
    text-decoration: underline;
    cursor:pointer;
}