  /* Barra de navegación */

  .nav {
    background-color: #F4F4F4;
    display: flex;
    height: 64px;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-decoration: none;
}

.nav__cont--logopant {
    display: flex;
    align-items: center;
    gap: 64px;
}

.nav__pantallas {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    list-style:none;
}

.nav__pantallas li a {
    text-decoration: none;
    color: black;
}

.nav__pantallas li a:hover {
    text-decoration: underline;
}

.nav__logo {
    width: 140px;
}

.nav__logueo {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style:none;
}

.nav__iniciar:hover {
    text-decoration: underline;
    cursor:pointer;
}

.nav__button {
    background-color: black;
    color: white;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.36px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.nav__button:hover {
    background-color: #0043CE;
    cursor:pointer;
}